/* common share style */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    padding-bottom: 0%;
    margin-bottom: 0px;
}

.text-primary {
    color: tomato;
}

.btn-primary {
    border-radius: 5px;
    background: tomato;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.title {
    color: #070ac2;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(202, 7, 176);
}

/* header related style */

.header {
    background-color: bisque;
    background-image: url('../header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner .profile {
    width: 500px;
}


.banner-content {
    /* padding: 0px; */
    max-width: 500px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner-greeting {
    font-size: 25px;
    padding-bottom: 0px;
}

.banner-title {
    padding-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

.img {
    position: right;
}

.btn-primary {
    font-size: 20px;
}

.div {
    padding: 10px;
}

/* main section style */
main section {
    padding: 130px;
}

.section-container {
    text-align: center;
    margin: 130px auto;
    max-width: 1140px;
    background-color: rgba(255, 228, 196, 0.342);
    border-radius: 8px;
}

.section-content {
    font-size: larger;

}

.section-title {
    color: tomato;
    font-size: larger;
    text-decoration: underline;
}

.section-description {
    font-size: larger;
}

.info-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.info {
    /* display: flex; */
    padding: 0px 30px 0px 50px;
    font-size: 25;
}

.section-container-2 {
    background-color: rgba(107, 206, 206, 0.274);
    text-align: center;
    max-width: 1140px;
    padding: 30px;
    margin: 30px auto;
    border-radius: 8px;
}

/* section skill style */


#section {
    margin: 0 130px;
}

.skills-container {
    display: flex;
    gap: 20px;
    border-radius: 5px;
    box-shadow: #070ac2;
    width: auto;
}

.skill {
    background-color: rgba(230, 193, 148, 0.199);
    padding: 20px;
    border-radius: 8px;
}

.skill-title {
    font-size: larger;
}

.skill-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: black;
}

/* section resume style */

.resume-container {
    display: flex;
    gap: 40px;
    box-shadow: 20px;
    text-align: center;
    margin: 0px auto;
    max-width: 1140px;
    border-radius: 8px;
    
}

.resume-column{
    background-color: cornsilk;
    padding: 20px;
}
.resume-column-title {
    text-align: left;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.resume-item {
    text-align: left;

}

.resume-item-title {
    text-align: left;
}

.resume-item-institute {
    text-align: left;
}

.resume-item-description {
    text-align: left;
}

/* footer related styles */

footer{
    justify-content: center;
}

.footer-container{
    display: flex;
    gap: 50px;
    background-color: bisque;
    padding: 30px 200px 50px 580px;
    margin:20px 50px 20px 50px;
}

.footer-column{
    justify-content: center;
}

.footer-title{
    font-size: larger;
}

.footer-description{
    max-width:400px;

}

.footer-link{
    display: block;

}
.footer-btn{
    font-size: larger;
    background-color: tomato;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
}
