/* common share style */
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header{
    padding-bottom: 0%;
    margin-bottom: 0px;
}
.text-primary{
    color: tomato;
}

.btn-primary{
    border-radius: 5px;
    background: tomato;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px ;
}

.title{
    color: #070ac2;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: rgb(202, 7, 176);
}

/* header related style */

.header{
    background-color: bisque;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .prfile{
    width: 500px;
}


.banner-content{
    
}
.banner-greeting{

}

.baner-title{

}
.img{
    position: right;
    margin-bottom: 0%;
    padding-bottom: 0%;
}